<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name='viewport' content='width=device-width' />  
    <title>GeniePaint.index</title>
  </head>
  <body style='width: 100vw; height: 100%;'>
    <div style='margin-top: 25vh; text-align: center;'>
      <img src="https://i.ibb.co/R7gygtv/painter.png" width='7%' border="0">
    </div>
    <div style='margin-top: 3vh; text-align: center;'>
      <form  accept-charset="utf-8" name = "search" method = "get" action='/geniepaint.dl'>
       <div>
        <input class="form-control" name='q' id='ipt' style='width: 40%; display: inline;' type="text" placeholder="What do you like to draw?" autocomplete=off>
        <button type="submit" onclick='ai_generating()' class="btn btn-primary material-icons" style='display: inline; background-color: black; border: 0;'>image</button>
         <button type="submit" onclick='ai_generating_random()' class="btn btn-primary material-icons" style='display: inline; background-color: black; border: 0;'>casino</button>
       </div>
      </form>
    </div>
    <div style='margin-top: 3vh; text-align: center;'>
      <span style='font-size: 1.05em;'>GeniePaint v2 Yoo-Youngkuk @ AlbatrossUI</span>
      <br>
      <span style='font-size: 1.05em;'>Push dice button! That button will make random image. That's 5456 combinations!</span>
      <br>
      <span style='font-size: 1.05em;'>Try Genie Chat instead of GeniePaint! <a href='/chat.shorten' style='color: black;'>Go to Chat!</a></span>
      <br>
      <span style='font-size: 1.05em;'>Do you want to go back to index page? <a href='/' style='color: black;'>Yes, Please!</a></span>
    </div>
  </body>
  <style>
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
  font-family: 'Pretendard-Regular';
}
.ui.progress {
  overflow-x: hidden;
}
#progress-bars {
  padding-top: 1em;
  padding-bottom: 1em;
}
  </style>
<script>
  function ai_generating(){
      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Generated success! Please wait kindly...',
        showConfirmButton: false,
        timer: 99999999
      })
  }

  function ai_generating_random(){
      document.getElementById("ipt").value = "My value";
      const strArray = ['Dog', 'Cat', 'Lion', 'Bear', 'Apple', 'Orange', 'Lemon', 'Lime', 'Melon', 'Grape', 'WaterMelon']
      const strArray2 = ['chair', 'table', 'spoon', 'desk', 'computer', 'lamp', 'headphones', 'speakers', 'tissues', 'cup', 'plush'];
      const strArray3 = ['space', 'room', 'toilet', 'kitchen', 'city', 'moon', 'street', 'school', 'restaurant', 'living room', 'car'];
      const randomValue = strArray[Math.floor(Math.random() * strArray.length)];
      const randomValue2 = strArray2[Math.floor(Math.random() * strArray2.length)];
      const randomValue3 = strArray3[Math.floor(Math.random() * strArray3.length)];
      document.getElementById("ipt").value = randomValue + ' ' +randomValue2 + ' at '  + randomValue3;
      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Generated randomly! Please wait kindly...',
        showConfirmButton: false,
        timer: 99999999
      })
  }
</script>
</html>