<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href='https://gistcdn.githack.com/RebeccaWhit3/b18ab2843290d0dc9555638cdedb28a2/raw/a28f84c51361321107bc5a970d5ddc1b78bef1ed/google-search-cse-style.css' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name='viewport' content='width=device-width' />  
    <title>Albatrus.lite</title>
  </head>
  <body style='width: 100vw; height: 100%;'>
    <div style='margin-top: 25vh; text-align: center;'>
      <img src="logo.svg" width='6.5%' border="0">
    </div>
    <div style='margin-top: 3vh; width: 45%; text-align: center;'>
            <script async src="https://cse.google.com/cse.js?cx=83861ba05a631452d"></script>
            <div class="gcse-search"></div>
       </div>
      </form>
    </div>
  </body>
  <style>
.ui.progress {
  overflow-x: hidden;
}
#progress-bars {
  padding-top: 1em;
  padding-bottom: 1em;
}
.gsc-search-box {
  
  margin-left: 25% !important;
}
  </style>
</html>